name: Build-Angle

on:
  push:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
permissions:
  contents: write
jobs:
  Windows:
    runs-on: windows-2022
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Install Visual Studio Components
        uses: microsoft/setup-msbuild@v1

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.7

      - name: Build Angle
        run: haxe build.hxml --define buildPlatform=windows

      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: angle-windows-libs
          path: export/build/windows
          if-no-files-found: warn
  MacOS:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.7

      - name: Build Angle
        run: haxe build.hxml --define buildPlatform=macos

      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: angle-macos-libs
          path: export/build/macos
          if-no-files-found: warn
  Linux:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.7

      - name: Build Angle
        run: haxe build.hxml --define buildPlatform=linux

      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: angle-linux-libs
          path: export/build/linux
          if-no-files-found: warn
  iOS:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.7

      - name: Build Angle
        run: haxe build.hxml --define buildPlatform=ios

      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: angle-ios-libs
          path: export/build/ios
          if-no-files-found: warn
