name: Build-Angle
on: workflow_dispatch
jobs:
  Windows:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Setup Haxe
        uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.3.7

      - name: Build Angle
        run: haxe build.hxml --define buildPlatform=windows

      - name: Upload Artifact
        uses: actions/upload-artifact@main
        with:
          name: Angle-Windows-Build
          path: export/build
          if-no-files-found: warn
